.burger {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000000;
  border: none;
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      top: 6px;
      left: 0;
      background-color: #000000;
    }
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      top: 12px;
      left: 0;
      background-color: #000000;
    }
}

@media (min-width: $largeDeviceWidth) {
  .burger span {
    position: absolute;
    content: "";
    width: 54px;
    height: 54px;
    background-image: url("../img/wreath-gray.png");
    background-repeat: no-repeat;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
