.decoration__symbol svg {
  height: 85px;
}

.decoration__symbol {
  position: absolute;
}

.decoration__symbol:nth-child(1) {
  background: url("../img/A.png") no-repeat;
  width: 46px;
  height: 75px;
  top: 220px;
  left: 70px;
}

.decoration__symbol:nth-child(2) {
  background: url("../img/E.png") no-repeat;
  width: 38px;
  height: 75px;
  top: 125px;
  left: 217px;
}

.decoration__symbol:nth-child(3) {
  background: url("../img/G.png") no-repeat;
  width: 46px;
  height: 75px;
  top: 205px;
  left: 147px;
  z-index: -1;
}

.decoration__symbol:nth-child(4) {
  width: 109px;
  height: 55px;
  background-image: url("../img/wreath.png");
  background-repeat: no-repeat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.decoration__symbol:nth-child(5) {
  bottom: -5px;
  left: 45px;
}

.decoration__symbol:nth-child(6) {
  top: 196px;
  right: 27px;
}

@media (min-width: $mediumDeviceWidth) {
  .decoration__symbol:nth-child(4) {
    bottom: 127px;
    height: 109px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .decoration__symbol svg {
    height: 30px;
  }

  .decoration__symbol:nth-child(1) {
    background: url("../img/A_large.png") no-repeat;
    width: 61px;
    height: 101px;
    top: 35px;
    left: 960px;
  }

  .decoration__symbol:nth-child(2) {
    background: url("../img/E_large.png") no-repeat;
    width: 51px;
    height: 101px;
    top: 117px;
    left: 1134px;
    z-index: -1;
  }

  .decoration__symbol:nth-child(3) {
    background: url("../img/G_large.png") no-repeat;
    width: 62px;
    height: 101px;
    top: 195px;
    left: 1045px;
    z-index: 1;
  }

  .decoration__symbol:nth-child(4) {
    top: 74%;
    left: 50%;
    width: 163px;
    height: 113px;
    background-size: cover;
    z-index: 1;
    &::before {
      position: absolute;
      content: "N";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: -86px;
      right: 263px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 213px;
      height: 10px;
      bottom: -10px;
      left: -26px;
      background-color: $pageBgc;
    }
  }

  .decoration__symbol:nth-child(5) {
    bottom: -13px;
    left: 430px;
    &::before {
      position: absolute;
      content: "F";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: 34px;
      right: 65px;
    }
    &::after {
      position: absolute;
      content: "I";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: 60px;
      right: 12px;
    }
  }

  .decoration__symbol:nth-child(6) {
    top: 689px;
    right: 1204px;
    &::before {
      position: absolute;
      content: "A";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: -48px;
      right: -67px;
    }
    &::after {
      position: absolute;
      content: "F";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: -13px;
      right: -130px;
    }
  }

  .decoration__symbol:nth-child(7) {
    top: 731px;
    left: 1179px;
    &::before {
      position: absolute;
      content: "E";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: -19px;
      right: 65px;
    }
    &::after {
      position: absolute;
      content: "A";
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: 15px;
      right: 277px;
    }
  }

  .decoration__symbol:nth-child(8) {
    top: 751px;
    left: 945px;
    &::before {
      position: absolute;
      content: "G";
      text-shadow: rgba(0, 0, 0, 0.16) -2px 2px;
      font-family: Philosopher, Georgia, serif;
      font-weight: bold;
      font-size: 25px;
      bottom: 28px;
      right: -60px;
    }
  }
}
