.first-slider {
  position: relative;
  width: 236px;
  height: 168px;
  z-index: 0;
}

.first-slider__number--mobile-hidden {
  display: none;
}

.first-slider__container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 236px;
  min-height: 184px;
  background-color: $pageBgc;

}

.first-slider__img {
  position: absolute;
  min-width: 280px;
  height: 184px;
  opacity: 0.2;
}

.first-slider__img--current {
  left: -44px;
}

.first-slider__img--right {
  left: 236px;
}

.first-slider__img--left {
  left: -324px;
}


.first-slider__img--animation {
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@media (min-width: $mediumDeviceWidth) {
  .first-slider {
    width: 100%;
    height: auto;
  }

  .first-slider__container {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    width: 600px;
    min-height: 350px;
    background-color: $pageBgc;
    opacity: 0.3;
    border-radius: 5px;
  }

  .first-slider__img {
    position: absolute;
    width: 600px;
    height: 400px;
    opacity: 1;
  }

  .first-slider__img--current {
    left: 0;
  }

  .first-slider__img--right {
    left: 600px;
  }

  .first-slider__img--left {
    left: -600px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .first-slider {
    margin-top: -25px;
    margin-left: 60px;
    position: relative;
    width: 800px;
    height: 525px;
    z-index: 1;
  }

  .first-slider__number {
    margin: 0;
    display: block;
    position: absolute;
    font-family: "Geometria", "Arial", sans-serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    top: 31px;
    right: 292px;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    &::before {
      position: absolute;
      content: "(1)";
      font-family: "Geometria", "Aria", sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      transform: rotate(90deg);
      top: -334px;
      left: -39px;
    }
    &::after {
      position: absolute;
      content: "(3)";
      font-family: "Geometria", "Aria", sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      transform: rotate(90deg);
      top: -333px;
      left: -119px;
    }
  }

  .first-slider__container {
    overflow: hidden;
    width: 800px;
    min-height: 525px;
    background-color: $pageBgc;
    opacity: 0.9;
    z-index: 1;
    border-radius: 0;
  }

  .first-slider__img {
    position: absolute;
    vertical-align: top;
    width: 800px;
    height: 525px;
    min-height: auto;
    opacity: 0.1;
  }

  .first-slider__img--current {
    left: 0;
    transform: translateX(0);
  }

  .first-slider__img--right {
    left: 800px;
  }

  .first-slider__img--left {
    left: -800px;
  }
}


