.page-main {
  display: flex;
  flex-direction: column;
  width: $smallDeviceWidth;
  margin: 0 auto;
}

.page-main__slogan {
  position: absolute;
  left: -19px;
  top: 43%;
  transform: translateY(-50%) rotate(-90deg);
}

@media (min-width: $mediumDeviceWidth) {
  .page-main {
    width: $mediumDeviceWidth;
  }
}

@media (min-width: $largeDeviceWidth) {
  .page-main {
    width: $largeDeviceWidth;
  }

  .page-main__slogan {
    left: 263px;
    top: 61%;
  }
}
