
.page__wrapper {
  position: relative;
  width: $smallDeviceWidth;
  margin: 0 auto;
  overflow-y: hidden;
}

.page__title {
  font-family: "Geometria", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}

.page__title--mobile-hidden {
  display: none;
}

.page__logo--mobile-hidden {
  display: none;
}

@media (min-width: $largeDeviceWidth) {
.page__wrapper {
    width: $largeDeviceWidth;
    min-height: 800px;
    z-index: -1;
    &::before {
      position: absolute;
      content: "";
      width: 600px;
      height: 616px;
      bottom: 0;
      left: 100px;
      background: linear-gradient(to right, #ffffff 0%, transparent 100%);
      opacity: 0.6;
      box-shadow: 0 0 99px rgba(0, 0, 0, 0.1);
      z-index: -2;
    }
    &::after {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      bottom: 0;
      right: 0;
      background: #ffffff;
      box-shadow: 0 0 99px rgba(0, 0, 0, 0.1);
      z-index: -2;
    }
  }

  .page__title {
    display: block;
    position: absolute;
    transform: rotate(-90deg);
    top: 395px;
    left: -47px;
  }

  .page__logo {
    margin: 0;
    position: absolute;
    display: block;

    top: 321px;
    left: 204px;
    font-style: normal;
    font-family: "Philosopher", "Georgia", serif;
    font-size: 140px;
    font-weight: 400;
    letter-spacing: 50px;
    color: #ffffff;

    text-transform: uppercase;

    z-index: 3;
  }
}
