.page-main {
  display: flex;
  flex-direction: column;
  width: $smallDeviceWidth;
  margin: 0 auto;
  overflow-x: hidden;
}

.page-main__slogan {
  position: absolute;
  left: -19px;
  top: 43%;
  transform: translateY(-50%) rotate(-90deg);
}

.page-main__title {
  font-family: "Philosopher", "Georgia", serif;
  font-size: 140px;
}

.page-main__title--mobile-hidden {
  display: none;
}

@media (min-width: $largeDeviceWidth) {
  .page-main {
    width: $largeDeviceWidth;
  }
}
