.second-slider {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.second-slider__title--mobile-hidden {
  display: none;
}

.second-slider__svg-decoraion--modile-hidden {
  display: none;
}

.second-slider__container {
  overflow: hidden;
  width: $smallDeviceWidth;
  height: 318px;
  background-color: $pageBgc;
  opacity: 0.4;
}

.second-slider__img:nth-child(2),
.second-slider__img:nth-child(3) {
  display: none;
}

.second-slider__img {
  position: relative;
  max-width: 558px;
  left: -120px;
  height: 318px;
  vertical-align: middle;
}

.second-slider__control {
  box-sizing: border-box;
  width: 320px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.second-slider__left-button,
.second-slider__right-button {
  width: 20px;
  height: 36px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.second-slider__left-button {
  background-image: url('../img/arrow-left.svg');
}

.second-slider__right-button {
  background-image: url('../img/arrow-right.svg');
}

.second-slider__number--mobile-hidden {
  display: none;
}

.second-slider__number {
  position: absolute;
  bottom: 22px;
  right: 20px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: $pageBgc;
    top: -29px;
    left: -32px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

@media (min-width: $largeDeviceWidth) {
  .second-slider {
    top: 184px;
    left: 479px;
    position: absolute;
    width: 860px;
    height: 490px;
  }

  .second-slider__title {
    position: absolute;
    display: block;
    width: 47px;
    margin: 0;
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    top: 61px;
    left: 114px;
    z-index: 2;
    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      border: 1px solid #000000;
      border-radius: 50%;
      top: -30px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .second-slider__container {
    position: relative;
    width: 860px;
    height: 490px;
    opacity: 1;
    &::before {
      position: absolute;
      content: "";
      width: 860px;
      height: 490px;
      background-color: $pageBgc;
      opacity: 0.8;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .second-slider__img {
    width: 860px;
    max-width: 860px;
    height: 490px;
    left: 0;
    opacity: 0.5;
  }

  .second-slider__number {
    position: absolute;
    bottom: 70px;
    right: 253px;
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 900;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
    z-index: 2;
    &::before {
      position: absolute;
      content: "";
      width: 138px;
      height: 386px;
      background-color: $pageBgc;
      top: -300px;
      left: -23px;
      transform: rotate(0);
      z-index: -1;
    }
  }

  .second-slider__number span {
    font-size: 17px;
    position: relative;
    display: inline-block;
    bottom: -20px;
    left: 2px;
    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 3px;
      background-color: #000000;
      top: -7px;
      left: 5px;
    }
  }

  .second-slider__control {
    top: 318px;
    right: 137px;
    width: 257px;
    z-index: 1;
  }

  .second-slider__svg-decoraion {
    position: absolute;
    display: block;
    top: 266px;
    left: 330px;
    width: 177px;
    height: 282px;
    z-index: 2;
  }
}
