.second-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.second-slider__title--mobile-hidden {
  display: none;
}

.second-slider__container {
  display: flex;
  overflow: hidden;
  width: $smallDeviceWidth;
  min-height: 318px;
  background-color: $pageBgc;
  opacity: 0.4;
}

.second-slider__img {
  position: absolute;
  max-width: 558px;
  height: 318px;
  vertical-align: middle;
}

.second-slider__img--current {
  left: -120px;
}

.second-slider__img--right {
  left: 438px;
}

.second-slider__img--left {
  left: -678px;
}

.second-slider__img--animation {
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.second-slider__control {
  box-sizing: border-box;
  width: 320px;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.second-slider__left-button,
.second-slider__right-button {
  width: 20px;
  height: 36px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.second-slider__left-button {
  background-image: url('../img/arrow-left.svg');
}

.second-slider__right-button {
  background-image: url('../img/arrow-right.svg');
}

.second-slider__number--mobile-hidden span {
  display: none;
}

.second-slider__number {
  position: absolute;
  bottom: 22px;
  right: 20px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: $pageBgc;
    top: -29px;
    left: -32px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

@media (min-width: $mediumDeviceWidth) {
  .second-slider {
    width: 100%;
  }

  .second-slider__container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 600px;
    min-height: 400px;
    background-color: $pageBgc;
    opacity: 0.4;
    border-radius: 5px;
  }

  .second-slider__img {
    position: absolute;
    width: 600px;
    max-width: 600px;
    height: 400px;
  }

  .second-slider__img--current {
    left: 0
  }

  .second-slider__img--right {
    left: 600px;
  }

  .second-slider__img--left {
    left: -600px;
  }

  .second-slider__control {
    box-sizing: border-box;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $largeDeviceWidth) {
  .second-slider {
    top: 184px;
    left: 479px;
    position: absolute;
    width: 860px;
    height: 490px;
  }

  .second-slider__title {
    position: absolute;
    display: block;
    width: 49px;
    margin: 0;
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    top: 61px;
    left: 112px;
    z-index: 2;
    &::before {
      position: absolute;
      content: "";
      width: 98px;
      height: 98px;
      border: 1px solid #000000;
      border-radius: 50%;
      top: -30px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .second-slider__container {
    position: relative;
    width: 860px;
    height: 490px;
    opacity: 1;
    border-radius: 0;
    &::before {
      position: absolute;
      content: "";
      width: 860px;
      height: 490px;
      background-color: $pageBgc;
      opacity: 0.8;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .second-slider__img {
    width: 860px;
    max-width: 860px;
    height: 490px;
    opacity: 0.5;
  }

  .second-slider__img--current {
    left: 0;
  }

  .second-slider__img--right {
    left: 860px;
  }

  .second-slider__img--left {
    left: -860px;
  }

  .second-slider__number {
    position: absolute;
    bottom: 70px;
    right: 253px;
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 900;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
    z-index: 2;
    &::before {
      position: absolute;
      content: "";
      width: 138px;
      height: 383px;
      background-color: $pageBgc;
      box-shadow: 0 0 88px rgba(0, 0, 0, 0.1);
      top: -297px;
      left: -22px;
      transform: rotate(0);
      z-index: -1;
    }
  }

  .second-slider__number span {
    font-size: 17px;
    position: relative;
    display: inline-block;
    bottom: -20px;
    left: 2px;
    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 3px;
      background-color: #000000;
      top: -7px;
      left: 5px;
    }
  }

  .second-slider__control {
    top: 318px;
    left: auto;
    right: 137px;
    width: 257px;
    z-index: 1;
    transform: translateY(-50%);
  }
}
