html {
  min-width: $smallDeviceWidth;
}

body {
  margin: 0;
  padding: 0;
}
header {
  background-color: $pageBgc;
  display: block;
  z-index: -3;
}

main {
  background-color: $pageBgc;
  display: block;
  z-index: -3;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.reset-margin {
  margin: 0;
}

@media (min-width: $largeDeviceWidth) {
  html {
    min-width: $largeDeviceWidth;
  }

  header, main {
    background-color: transparent;
    z-index: 0;
  }


}
