@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url('../fonts/Geometria/Geometria.otf') format('opentype');
}

@font-face {
  font-family: "Geometria";
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Geometria/Geometria-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 300;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Geometria/Geometria-Light.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 300;
  font-style: italic;

  font-display: swap;
  src: url("../fonts/Geometria/Geometria-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 900;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Geometria/Geometria-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 900;
  font-style: italic;

  font-display: swap;
  src: url("../fonts/Geometria/Geometria-HeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: "Philosopher";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Philosopher/Philosopher-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Philosopher";
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: url("../fonts/Philosopher/Philosopher-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Philosopher";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Philosopher/Philosopher-Bold.ttf") format("truetype");
}
